@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Instructor;

<form asp-action="AddInstructor" asp-controller="Instructor" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input class="form-control" asp-for="Id" placeholder="Enter Id">
    </div><br />

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName" placeholder="Enter First Name">
    </div><br />

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName" placeholder="Enter Last Name">
    </div><br />

    <div class="form-group">
        <label asp-for="IsTenured">Status</label>
        <select asp-for="IsTenured" asp-items="@Html.GetEnumSelectList(typeof(IsRegular))"></select>
    </div><br />

    <div class="form-group">
        <label asp-for="Rank">Rank</label>
        <select asp-for="Rank" asp-items="@Html.GetEnumSelectList(typeof(Rank))"></select>
    </div><br />

    <div class="form-group">
        <label asp-for="HiringDate">Date Hired</label>
        <input class="form-control" asp-for="HiringDate">
    </div><br />

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input class="form-control" asp-for="Email" placeholder="Enter Email">
    </div><br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>