@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Student;
<h1>Create a new Student</h1><br />


<form asp-action="AddStudent" asp-controller="Student" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" placeholder="Enter Id">
    </div><br />

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" placeholder="Enter First Name">
    </div><br />

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" placeholder="Enter Last Name">
    </div><br />

    <div class="form-group">
        <label asp-for="IsRegular"></label>
        <select asp-for="IsRegular" asp-items="@Html.GetEnumSelectList(typeof(IsRegular))"></select>
    </div><br />

    <div class="form-group">
        <label asp-for="Course"></label>
        <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))"></select>
    </div><br />

    <div class="form-group">
        <label asp-for="AdmissionDate"></label>
        <input asp-for="AdmissionDate">
    </div><br />

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="Enter Email">
    </div><br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>